/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: flex;
  flex-direction: column;
  padding: var(--padding-mobile);
  color: var(--text-color);
  font-family: var(--font-family, monospace);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Декоративные элементы (уголки) */
.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

/* Элемент REC */
.header__rec {
  position: absolute;
  top: 10px;
  right: 0;
  visibility: visible;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  font-size: var(--font-size);
  line-height: 1.4;
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-right: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

/* Шапка */
.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: start;
  height: 100vh;
  min-height: 668px;
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
  margin-top: 75px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  height: 26px;
  border: none;
  padding: 0 13px;
  color: var(--section-title-color);
  text-transform: lowercase;
  background: none;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--section-title-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--secondary-color);
  outline: none;
}

.header__title {
  justify-self: start;
  align-self: center;
  margin-top: 0;
  color: var(--title-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--title-font-size-mobile);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  justify-self: start;
  align-self: start;
  max-width: 100%;
  margin-top: 55px;
  color: var(--secondary-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--accent-color);
}

/* Контент */
.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 40px 0;
}

.section:not(.gallery_title) {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section__title {
  color: var(--section-title-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
}

.section__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.title-decor {
  color: var(--secondary-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--accent-color);
}

.card__title-thin {
  font-weight: var(--font-weight-regular);
}

.card__text {
  color: var(--text-color);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

/* Ссылки */
.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-shadow-color);
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: 2px;
}

/* Галерея */
.section-gallery:not(.gallery_title) {
  gap: 10px;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Футер */
.footer {
  display: grid;
  place-items: center;
  height: 100vh;
  min-height: 668px;
}

.footer__title {
  color: var(--title-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--title-font-size-mobile);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
}

/* Адаптив 768 */

@media (width >= 768px) {
  .page {
    padding: var(--padding-tablet);
  }

  .decorated-zone::before {
    top: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
  }

  .header__rec {
    top: 20px;
  }

  .header {
    min-height: 1024px;
  }

  .header__theme-menu {
    margin-top: 192px;
  }

  .header__title {
    margin-left: -20px;
    font-size: var(--title-font-size-desktop);
  }

  .header__subtitle {
    justify-self: end;
    align-self: start;
    max-width: 50%;
    margin-top: 162px;
  }

  .content {
    gap: 80px;
    margin: 60px 0;
  }

  .section:not(.section-gallery, .section-what) {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section__title {
    max-inline-size: 236px;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 10px;
  }

  .gallery__image {
    height: 100%;
  }

  .gallery__image-sunset {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery__image-ice-cream {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery__image-tape {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .gallery__image-books {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .gallery__image-street {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer__title {
    font-size: var(--title-font-size-desktop);
  }
}

/* Адаптив 1024 */
@media (width >= 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin-top: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__subtitle {
    margin-top: 114px;
  }

  .section:not(.section-gallery, .section-what) {
  }

  .section-what .section__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 20px;
  }

  .section__title {
    max-inline-size: 315px;
  }

  .card__title {
    height: 23px;
  }
}
